<div class="col-6 offset-md-3">
  <!--検索フォーム-->
  <div>
    <%= form_with url: search_searches_path, local: true, method: :get, class: "row" do |f| %>
      <div  class="input-group">
        <div class="col-md-11">
          <%= f.text_field :word, class: "form-control", :placeholder => "例：カタン" %>
        </div>
        <span class="col-md-1">
          <%= f.submit "検索", class: "btn btn-success" %>
        </span>
      </div>
    <% end %>
  </div>
  <!--検索結果-->
  <% if @results.present? %>
    <h6 class="ps-2 pt-3">"<%= @search_word %>"の検索結果：<%= @results.count %>件</h6>
    <table class="table">
      <tr>
        <th>BGG ID</th>
        <th>タイトル</th>
        <th></th>
      </tr>
      <% @results.each do |result| %>
        <tr>
          <td><%= result[:id] %></td>
          <td><%= result[:value] %></td>
          <td>
            <div class="select_bg">
              <%= form_with url: search_path(result[:id]), local: true, method: :get do |f| %>
                <%= f.hidden_field :bg_id, :value => result[:id] %>
                <%= f.submit "詳細確認", class: "btn btn-outline-primary" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h6 class="ps-2 pt-3">検索結果：0件</h6>
    <div class="my-5"></div>
    <div class="py-5">
      <p>
        日本語の登録がない、またはボードゲームが存在しません。</br>
        アルファベットで検索するか、検索ワードを変更してください。
      </p>
    </div>
    <div class="my-5 pb-2"></div>
  <% end %>
</div>

