<h3>遊んだボドゲ一覧</h3>
<table class="table">
  <tr>
    <th></th>
    <th>タイトル</th>
    <th>最低プレイ人数</th>
    <th>最大プレイ人数</th>
    <th>時間</th>
    <th><%= current_user.name %>の評価</th>
  </tr>
  <% @played_bgs.each do |bg| %>
  <tr>
      <td>
        <%= link_to boardgame_path(bg) do %>
          <img src="<%= bg.image %>" width="100"/>
        <% end %>
      </td>
      <td>
        <%= link_to boardgame_path(bg) do %>
          <%= bg.played_title %>
        <% end %>
      </td>
      <td><%= bg.minplayer %></td>
      <td><%= bg.maxplayer %></td>
      <td><%= bg.playingtime %></td>
      <td><%= bg.rate %></td>
  </tr>
  <% end %>
</table>


