<div class="col-6 offset-md-3">
  <!--検索フォーム-->
  <div>
    <%= form_with url: search_searches_path, local: true, method: :get, class: "row" do |f| %>
      <div class="ms-3">
        <string class="pe-2">Search for?</string>
        <%= f.radio_button :address_num, 1 , checked: true %><%= f.label :address_num_1, "Boardgame", class: "p-2" %>
        <%= f.radio_button :address_num, 2%><%= f.label :address_num_2, "User", class: "p-2" %>
        <%= f.radio_button :address_num, 3 %><%= f.label :address_num_3, "User's [want to play]", class: "p-2" %>
      </div>
      <div class="col-9">
        <%= f.text_field :word, class: "form-control" %>
      </div>
      <div class="col-auto ps-1">
        <%= f.submit "検索", class: "btn btn-outline-success" %>
      </div>
    <% end %>
  </div>
</div>
<div class="col-6 offset-md-3">
<table class="table">
  <tr>
    <th>BGG ID</th>
    <th>タイトル</th>
    <th></th>
  </tr>
  <% @results.each do |result| %>
    <tr>
      <td><%= result[:id] %></td>
      <td><%= result[:value] %></td>
      <td>
        <div class="select_bg">
          <%= form_with url: search_path(result[:id]), local: true, method: :get do |f| %>
            <%= f.hidden_field :bg_id, :value => result[:id] %>
            <%= f.submit "詳細情報", class: "btn btn-outline-primary" %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
</div>
