<div class='container mt-5 mb-5'>
  <div class='row'>
    <div class='col-md-4'>
      <h3>左側</h3>
      <table class="table-bordered">
        <tr>
          <td>画像</td>
          <td>画像を入れたい</td>
        </tr>
        <tr>
          <td>タイトル</td>
          <td><%= @playd_bg.bg_title %></td>
        </tr>
        <tr>
          <td>最小プレイヤー</td>
          <td><%= @playd_bg.minplayer %></td>
        </tr>
        <tr>
          <td>最大プレイヤー</td>
          <td><%= @playd_bg.maxplayer %></td>
        </tr>
        <tr>
          <td>時間</td>
          <td><%= @playd_bg.playingtime %></td>
        </tr>
        <tr>
          <td>評価</td>
          <td><%= @playd_bg.rate %></td>
        </tr>
      </table>
    </div>
    <div class='col-md-7 offset-md-1'>
      <h3>右側</h3>
    </div>
  </div>
</div>
