<div class="row mb-3">
  <%= form_with url: search_searches_path, local: true, method: :get, class: "row" do |f| %>
    <div>
      <string class="pe-2">Search for?</string>
      <%= f.radio_button :address_num, 1 , checked: true %><%= f.label :address_num_1, "Boardgame", class: "p-2" %>
      <%= f.radio_button :address_num, 2%><%= f.label :address_num_2, "User", class: "p-2" %>
      <%= f.radio_button :address_num, 3 %><%= f.label :address_num_3, "User's [want to play]", class: "p-2" %>
    </div>
    <div class="col-auto">
      <%= f.text_field :word, class: "form-control" %>
    </div>
    <div class="col-auto ps-1">
      <%= f.submit "検索", class: "btn btn-outline-success" %>
    </div>
  <% end %>
</div>