<div class='col-md-6 offset-md-2'>
  <h3>User's want to play</h3>
  <% @bucket_lists.each do |bucket_list| %>
    <table class="table">
      <% if bucket_list.user_id != current_user.id %>
        <tr>
          <!--ボドゲ情報&ユーザーリンク-->
          <%= render "public/bucket_lists/bucket_data", data: bucket_list %>
          <!--いいね&コメント-->

        </tr>
      <% end %>
    </table>
  <% end %>
</div>
<div class="col-2">
  <h3>タグ検索</h3>
  <%= form_tag({controller:"searches",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <%= check_box :tag_ids, t.name %><%= t.name %></br>
    <% end %>
    <%= submit_tag '検索', class: "mt-2" %>
<% end %>
</div>
