<div class='col-3 offset-md-1'>
  <h3>他のユーザー</h3>
  <table class="table">
    <% @users.each do |user| %>
      <% if user != current_user %>
        <tr>
          <td>
            <%= link_to user_path(user) do %>
              <%= image_tag user.get_profile_image(100,100) %>
              <%= user.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<div class='col-md-6'>
  <h3>他のユーザーの遊びたいゲーム</h3>
  <% @bucket_lists.each do |bucket_list| %>
    <table class="table">
      <% if bucket_list.user_id != current_user.id %>
        <tr>
          <!--遊びたいボドゲ情報-->
          <%= render "public/bucket_lists/bucket_data", data: bucket_list %>
          <!--いいねボタン-->
          <td id="favorite_buttons_<%= bucket_list.id %>" class="text-center" width="10%">
            <%= render 'public/favorites/favorite', bucket_list: bucket_list %></br>
          </td>
          <!--ユーザー情報-->
          <td class="text-center" width="15%">
            <%= link_to user_path(bucket_list.user, class: "text-center") do %>
              <%= image_tag bucket_list.user.get_profile_image(100,100) %></br>
              <%= bucket_list.user.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
