<table class="table">
  <% if @results.present? %>
    <% @results.each do |result| %>
      <tr>
        <td>
          <%= result[:id] %>
        </td>
        <td>
          <%= result[:value] %>
        </td>
        <td>
          <div class="select_bg">
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <!--フォームに入力した内容を『bg_title』として送信-->
            <%= f.hidden_field :bg_id, :value => result[:id] %>
            <%= f.submit "詳細情報を見る", class: "btn btn-primary" %>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  <% else %>
    <% @result.each do |r| %>
      <tr>
        <td>
         id: <%= r[:id] %></br>
         画像: <%= r[:image] %></br>
         タイトル: <%= r[:title] %></br>
         最小人数: <%= r[:minplayer] %></br>
         最大人数: <%= r[:maxplayer] %></br>
         時間: <%= r[:playingtime] %></br>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
