<table class="table-bordered">
  <tr>
    <td>
      <img src="<%= @result[0][:image][0] %>" width="100"/>
    </td>
    <td>
      id: <%= @result[0][:id] %></br>
      タイトル: <%= @result[0][:title] %></br>
      最小人数: <%= @result[0][:minplayer] %></br>
      最大人数: <%= @result[0][:maxplayer] %></br>
      時間: <%= @result[0][:playingtime] %></br>
    </td>
  </tr>
</table>
<div class="create_record">
  <%= form_with url: new_record_path, local: true, method: :get do |f| %>
    <%= f.hidden_field :bg_id, :value => @result[0][:id] %>
    <%= f.hidden_field :image, :value => @result[0][:image][0] %>
    <%= f.hidden_field :title, :value => @result[0][:title] %>
    <%= f.hidden_field :maxplayer, :value => @result[0][:maxplayer] %>
    <%= f.hidden_field :minplayer, :value => @result[0][:minplayer] %>
    <%= f.hidden_field :playingtime, :value => @result[0][:playingtime] %>
    <%= f.submit "記録を作成", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="add_bucket_list">
  <%= form_with url: new_boardgame_path, local: true, method: :get do |f| %>
    <%= f.hidden_field :bg_id, :value => @result[0][:id] %>
    <%= f.hidden_field :image, :value => @result[0][:image][0] %>
    <%= f.hidden_field :title, :value => @result[0][:title] %>
    <%= f.hidden_field :maxplayer, :value => @result[0][:maxplayer] %>
    <%= f.hidden_field :minplayer, :value => @result[0][:minplayer] %>
    <%= f.hidden_field :playingtime, :value => @result[0][:playingtime] %>
    <%= f.submit "遊びたいリストに追加", class: "btn btn-primary" %>
  <% end %>
</div>