 <div class="btn-wrapper col-12 mx-auto">
  <% if admin_signed_in? %>

  <% elsif user_signed_in? %>
    ボドゲを検索
    <div class="search_form row">
      <%= form_with url: searches_path, local: true, method: :get do |f| %>
        <!--フォームに入力した内容を『bg_title』として送信-->
        <%= f.text_field :search_title %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
      
    </div>
  <% else %>
    <div class="row">
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
    </div>
    <div class="row">
      <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
    </div>
    <div class="row">
      <%= link_to 'Sign Up',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
    </div>
  <% end %>
</div>

