<%= render "admin/searches/search_form" %>
<h3>検索結果</h3>
<table class="table">
  <!--ユーザーを検索した結果-->
  <% if @users.present? %>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image(100,100) %>
            <%= user.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <!--bucketlistを検索した結果-->
  <% elsif @bucket_lists.present? %>
    <% @bucket_lists.each do |bucket_list| %>
      <tr>
        <!--遊びたいボドゲ情報-->
        <%= render "public/bucket_lists/bucket_data", data: bucket_list %>
        <!--いいねボタン-->
        <td id="favorite_buttons_<%= bucket_list.id %>" class="text-center" width="10%">
          <%= render 'public/favorites/favorite', bucket_list: bucket_list %></br>
        </td>
        <!--ユーザー情報-->
        <td class="text-center" width="15%">
          <%= link_to user_path(bucket_list.user, class: "text-center") do %>
            <%= image_tag bucket_list.user.get_profile_image(100,100) %></br>
            <%= bucket_list.user.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>