<div class="offset-md-3 col-md-5">
  <h3>新規記録作成</h3>

  <table class="table-bordered m-3">
    <tr>
      <td>
        <img src="<%= @bg_data[0][:image] %>" width="150"/>
      </td>
      <td class="text-center p-3" width="100%">
        <%= @bg_data[0][:played_title] %></br>
        <i class="fa-solid fa-users pe-1"></i><%= @bg_data[0][:minplayer] %>-<%= @bg_data[0][:maxplayer] %></br>
        <i class="fa-regular fa-clock pe-1"></i><%= @bg_data[0][:playingtime] %></br>
      </td>
    </tr>
  </table>

  <div class="m-3">
      <%= form_with(model: @new_record, class: "record-post-main", local: true) do |f| %>
        <table class="table">
          <tr>
            <td>
              <div>
                <%= link_to_add_association "追加", f, :scores,
                    class: "add_fields btn btn-outline-success",
                    data: {
                      association_insertion_node: '#detail-association-insertion-point',
                      association_insertion_method: 'after'
                      }
                    %>
                <%= link_to new_player_path(link_from: "new_record"), class: "ps-5" do %>
                 <i class="fa-solid fa-user-plus">プレイヤーを作成</i>
                <% end %>
              </div>
              <!--フォームが追加されるところ-->
              <div id="detail-association-insertion-point"></div>
              <!--scoreとプレイヤーのフォームの部分テンプレート-->
              <%= f.fields_for :scores do |score| %>
                <%= render "score_fields", f: score %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <%= f.label :date, "日付" %>
                <%= f.text_field :date, value:Time.now.strftime("%Y年%m月%d日"), class: "form-control" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <%= f.label :playing_time, "時間" %>
                <%= f.text_field :playing_time, value: @bg_data[0][:playingtime], class: "form-control" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <%= f.label :memo, "メモ" %>
                <%= f.text_area :memo, class: "form-control" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.hidden_field :board_game_id, :value => @bg_data[0][:bg_id] %>
              <div class="form-group">
                <%= f.submit "記録保存", class: "btn btn-outline-success" %>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
  </div>
</div>
<div class="col-md-4"></div>
