<div class="offset-md-4 col-md-6">
  <p class="text-danger">
    <%= flash[:tag_destroy_faild] %>
  </p>
  <div class="col-md-6 mb-3">
    <%= form_with url: admin_tags_path, local: true do |f| %>
      <div class="input-group">
        <%= f.text_field :name, class: "form-control" %>
        <span>
          <%= f.submit "作成", class: "input-group-text btn-success px-4" %>
        </span>
      </div>
    <% end %>
  </div>
  <div>
    <table>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></br></td>
          <td>
            <%= link_to admin_tag_path(tag.id), method: :delete do  %>
              <button class="btn btn-outline-danger ms-2">削除</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
