<td>
  <img src="<%= data.image %>" width="100"/>
</td>
<td class="text-center" width="18%">
  <%= data.bucket_title %></br>
  <%= data.minplayer %>-<%= data.maxplayer %>人</br>
  <%= data.playingtime %>min</br>
</td>
<td width="60%">
  <%= safe_join(data.memo.split("\n"),tag(:br)) %>
</td>