<td>
  <img src="<%= data.image %>" width="100"/>
</td>
<td>
  タイトル: <%= data.bucket_title %></br>
  最小人数: <%= data.minplayer %></br>
  最大人数: <%= data.maxplayer %></br>
  時間: <%= data.playingtime %></br>
</td>
<td>
  <%= data.memo %>
</td>