<h3>遊びたいボドゲリスト</h3>
<table class="table-bordered">
  <% @bucket_lists.each do |bucket_list| %>
    <tr>
      <%= render "public/bucket_lists/bucket_data", data: bucket_list %>
      <td class="text-center">
        <%= link_to bucket_list_path(bucket_list) do %>
          コメント:<%= bucket_list.comments.count %>
        <% end %>
      </td>
      <td>
        <%= link_to "削除", bucket_list_path(bucket_list.id), method: :delete, class: "btn btn-danger" %>
        <%= link_to "編集", edit_bucket_list_path(bucket_list.id), class: "btn btn-primary" %>
      </td>
    </tr>
  <% end %>
</table>
<h3>いいねリスト</h3>
<table class="table-bordered">
  <% @favorite_bucket_lists.each do |f_bucket_list|%>
    <tr>
      <%= render "public/bucket_lists/bucket_data", data: f_bucket_list %>
      <td class="text-center">
        <%= link_to user_path(f_bucket_list.user, class: "text-center") do %>
          <%= image_tag f_bucket_list.user.get_profile_image(100,100) %></br>
          <%= f_bucket_list.user.name %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
