<div class="offset-md-3 col-5">
  <h3>遊びたいボドゲとして投稿</h3>

  <table class="table-bordered m-3">
    <tr>
      <td>
        <img src="<%= @image %>" width="150"/>
      </td>
      <td class="text-center p-3" width="100%">
        BGG id: <%= @bg_id %></br>
        <%= @title %></br>
        <i class="fa-solid fa-users pe-1"></i><%= @minplayer %>-<%= @maxplayer %></br>
        <i class="fa-regular fa-clock pe-1"></i><%= @playingtime %></br>
      </td>
    </tr>
  </table>

  <%= form_with model: @new_bucket_list, local: true do |f| %>
    <!--BucketListに保存する情報-->
    <%= f.hidden_field :bg_id, :value => @bg_id %>
    <%= f.hidden_field :image, :value => @image %>
    <%= f.hidden_field :bucket_title, :value => @title %>
    <%= f.hidden_field :maxplayer, :value => @maxplayer %>
    <%= f.hidden_field :minplayer, :value => @minplayer %>
    <%= f.hidden_field :playingtime, :value => @playingtime %>
    <table class="table">
      <tr>
        <td>
          <div class="form-group">
            <%= f.label :memo, "メモ" %>
            <%= f.text_area :memo, class: "form-control" %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class='form-group'>
            <%= f.label :tag, "タグ" %>
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
                <% end %>
              </div>
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <%= f.submit "投稿", class: "btn btn-outline-success" %>
          </div>
        </td>
      </tr>
    </table>
  <% end %>
</div>