<div class="col-4 offset-md-4 border rounded bg-white">
  <h2 class="m-3 text-center">Sign up</h2>

  <div class="m-5 mt-2">
    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name, "ユーザー名(12文字まで)" %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control", :placeholder => "例：ゲイリー・ガイギャックス" %>
      </div>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autocomplete: "email", class: "form-control", :placeholder => "例：email@email.com" %>
      </div>

      <div class="field">
        <%= f.label :postal_code, "郵便番号" %><br />
        <%= f.text_field :postal_code, class: "form-control", :placeholder => "例：1231234" %>
      </div>

      <div class="field">
        <%= f.label :prefecture, "都道府県" %><br />
        <%= f.text_field :prefecture, class: "form-control", :placeholder => "例：東京都" %>
      </div>

      <div class="field">
        <%= f.label :city, "市区町村" %><br />
        <%= f.text_field :city, class: "form-control", :placeholder => "例：千代田区" %>
      </div>

      <div class="field">
        <%= f.label :age, "年齢" %><br />
        <%= f.text_field :age, class: "form-control",:placeholder => "例：100" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード確認" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions mt-3">
        <%= f.submit "Sign up", class: "btn btn-outline-success" %>
      </div>
    <% end %>
  </div>

</div>
