<h3>ユーザー情報編集</h3>
<%= form_with model:@user, local:true do |f| %>
  <div class="form-group">
    <%= f.label :画像 %>
    <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
  </div>
  <div class="form-group">
    <%= f.label :ユーザーネーム %>
    <%= f.text_field :name, class: "form-control name" %>
  </div>
  <div class="form-group">
    <%= f.label :郵便番号 %>
    <%= f.text_field :postal_code, class: "form-control postal_code" %>
  </div>
  <div class="form-group">
    <%= f.label :都道府県 %>
    <%= f.text_field :prefecture, class: "form-control prefecture" %>
  </div>
  <div class="form-group">
    <%= f.label :市区 %>
    <%= f.text_field :city, class: "form-control city" %>
  </div>
  <div class="form-group">
    <%= f.label :年齢 %>
    <%= f.text_field :age, class: "form-control name" %>
  </div>
  <div class="form-group">
    <%= f.label :自己紹介 %>
    <%= f.text_area :memo, class: "form-control memo" %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-secondary' %>
  </div>
<% end %>