<!DOCTYPE html>
<html>
  <head>
    <title>BG6</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="footerFixed">
    <body class="bg-secondary bg-opacity-10">
      <%= render 'layouts/header' %>
      <div class="container mt-5 mb-5">
        <div class='row'>
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/footer' %>

      <script src="https://kit.fontawesome.com/c3f40df1c4.js" crossorigin="anonymous"></script>
    </body>
  </div>
</html>
